*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#mainContainer{
	width: 50%;
	height: 100vh;
	margin: auto;
	padding: 20px;
}

h1{
	text-align: center;
	color: blue;
	margin-bottom: 15px;
}

h2{
	text-align: center;
	margin-bottom: 15px;
}

.level{
	text-align: center;
	font-size: 1.1rem;
	margin: 5px 0px;
}